body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header {
    background-color: beige;
    grid-column: 1/2;
}
nav {
    background-color: bisque;
    grid-column: 2/6;
}
main {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: burlywood;
}
ul {
    list-style-type: none;
}
nav ul {
    display: flex;
}
nav ul li {
    flex: 1 1 100%;
}
.carousel {
    background-color: lightblue;
    width: 100%;
    height: 400px;
    grid-column: 1 / 4;
    text-align: center;
}
.button {
    border: 2px solid black;
    padding: 20px;
    margin-top: 200px;
    display: inline-block;
}
.button:hover {
    border: 2px solid white;
    color: white;
}
.introduction {
    margin: 100px;
    grid-column: 1 / 4;
}

.card {
    background-color: lightblue;
    margin: 20px;
}

footer {
    background-color: bisque;
    position: absolute;
    width: 100%;
    bottom: -200px;
    text-align: center;
}